<a href="https://colab.research.google.com/github/animeshdutta888/Upgrad/blob/master/Upgrad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !wget --header="Host: doc-0g-bk-docs.googleusercontent.com" --header="User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.75 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8" --header="Accept-Language: en-US,en-IN;q=0.9,en;q=0.8" --header="Referer: https://drive.google.com/uc?id=1wpOtr264MFYrN1QVkpHug_jJ2Z8Eik85&export=download" --header="Cookie: AUTH_4bopc2hc8l34lnvure9p0f69o32upi3p_nonce=c6uhnue2s1nko; NID=162=dN9p5hojnjtNxQlJ9H2wVK1aumNobi8Aj0XWAhkg1hB7Er3vQZtHYlT86HCBYZfQHWz2bZi0FMmtHi_CP1aRF1PDB5BUzZSv-do9OFo2fvh04TdWdU78G3sj7dgsk3507V0Z6CJI9WxFGbvff9Db8ZV_NzjATAcjWKXMnQSlCUE" --header="Connection: keep-alive" "https://doc-0g-bk-docs.googleusercontent.com/docs/securesc/psusq0mr93vn4rl25l4i1rlqvv3toc55/dbkm7hhtpisdqqpcd6m4f63c823h601k/1553911200000/02500186615322573913/17243280734409231109/1wpOtr264MFYrN1QVkpHug_jJ2Z8Eik85?e=download&nonce=c6uhnue2s1nko&user=17243280734409231109&hash=bh3d9i0jjqu8hrhfch84konrpitqaj26" -O "train.zip" -c

In [299]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [300]:
train_df = pd.read_csv('/content/drive/My Drive/upgrad/bank-additional-full.csv',sep=';')
train_df = train_df.replace("unknown", np.NaN)
# print the first 20 rows of data
print(train_df.isnull().sum())
print(train_df.shape)

age                  0
job                330
marital             80
education         1731
default           8597
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64
(41188, 21)

In [301]:
# drop rows with missing values
train_df.dropna(inplace=True)
# summarize the number of rows and columns in the dataset
print(train_df.shape)

(30488, 21)

In [302]:
train_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [303]:
train_df.corr()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
age,1.000000,0.007910,-0.002364,-0.050891,0.049231,-0.050409,-0.035762,0.125017,-0.036481,-0.064586
duration,0.007910,1.000000,-0.068406,-0.046239,0.018772,-0.023374,0.012768,-0.009525,-0.028922,-0.040367
campaign,-0.002364,-0.068406,1.000000,0.054312,-0.080766,0.157739,0.127260,-0.011664,0.140836,0.148069
pdays,-0.050891,-0.046239,0.054312,1.000000,-0.590248,0.268763,0.068010,-0.102368,0.295188,0.370845
previous,0.049231,0.018772,-0.080766,-0.590248,1.000000,-0.403502,-0.176775,-0.027930,-0.438863,-0.488365
emp.var.rate,-0.050409,-0.023374,0.157739,0.268763,-0.403502,1.000000,0.766055,0.157593,0.969412,0.900390
cons.price.idx,-0.035762,0.012768,0.127260,0.068010,-0.176775,0.766055,1.000000,0.027217,0.667292,0.488871
cons.conf.idx,0.125017,-0.009525,-0.011664,-0.102368,-0.027930,0.157593,0.027217,1.000000,0.243637,0.075283
euribor3m,-0.036481,-0.028922,0.140836,0.295188,-0.438863,0.969412,0.667292,0.243637,1.000000,0.944871
nr.employed,-0.064586,-0.040367,0.148069,0.370845,-0.488365,0.900390,0.488871,0.075283,0.944871,1.000000

In [0]:
train_df.drop(['euribor3m','nr.employed'],axis=1,inplace=True)

In [0]:
train_df.y=train_df.y.eq('yes').mul(1)

In [306]:
train_df.groupby(['y']).size()

y
0    26629
1     3859
dtype: int64

In [0]:
train_df["duration"] = train_df["duration"] / train_df["duration"].max()

In [308]:
X = pd.get_dummies(train_df, prefix_sep='_', drop_first=False)
X.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,y,job_admin.,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,56,0.053070,1,999,0,1.1,93.994,-36.4,0,0,...,0,0,0,1,0,0,0,0,1,0
2,37,0.045954,1,999,0,1.1,93.994,-36.4,0,0,...,0,0,0,1,0,0,0,0,1,0
3,40,0.030704,1,999,0,1.1,93.994,-36.4,0,1,...,0,0,0,1,0,0,0,0,1,0
4,56,0.062424,1,999,0,1.1,93.994,-36.4,0,0,...,0,0,0,1,0,0,0,0,1,0
6,59,0.028264,1,999,0,1.1,93.994,-36.4,0,1,...,0,0,0,1,0,0,0,0,1,0

In [0]:
from sklearn.model_selection import train_test_split

# We'll use this library to make the display pretty
from tabulate import tabulate

In [0]:
y = X.y
X = X.drop(["y"], axis=1)
list1=X.columns.values.tolist()

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.30)

In [321]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)
RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
import pandas as pd
feature_imp = pd.Series(clf.feature_importances_,index=list1).sort_values(ascending=True)
feature_imp

default_no                       9.427386e-10
default_yes                      1.286444e-07
education_illiterate             1.942103e-04
month_dec                        1.166059e-03
job_housemaid                    2.940853e-03
month_aug                        3.970740e-03
month_jul                        4.007401e-03
month_nov                        4.023404e-03
education_basic.6y               4.051455e-03
job_entrepreneur                 4.180549e-03
job_unemployed                   4.183784e-03
month_sep                        4.412431e-03
job_student                      4.462731e-03
job_self-employed                4.579350e-03
month_jun                        5.391294e-03
month_apr                        5.813938e-03
education_basic.4y               5.962566e-03
job_retired                      6.341739e-03
job_services                     6.623972e-03
contact_cellular                 6.936392e-03
contact_telephone                7.553149e-03
job_management                   7.594476e-03
month_mar                        7.735370e-03
education_basic.9y               8.149880e-03
marital_divorced                 8.209469e-03
job_blue-collar                  8.481277e-03
month_may                        8.606012e-03
poutcome_failure                 8.619837e-03
month_oct                        8.682796e-03
education_professional.course    9.637647e-03
loan_yes                         9.748893e-03
loan_no                          9.781832e-03
poutcome_nonexistent             1.061343e-02
job_technician                   1.065439e-02
marital_single                   1.216298e-02
education_high.school            1.224617e-02
day_of_week_fri                  1.233817e-02
day_of_week_wed                  1.278056e-02
marital_married                  1.287773e-02
day_of_week_mon                  1.336107e-02
day_of_week_tue                  1.341608e-02
education_university.degree      1.359418e-02
job_admin.                       1.378725e-02
day_of_week_thu                  1.379272e-02
housing_no                       1.416322e-02
housing_yes                      1.475961e-02
previous                         1.578161e-02
poutcome_success                 2.996930e-02
pdays                            4.195975e-02
campaign                         4.333988e-02
emp.var.rate                     4.371506e-02
cons.price.idx                   4.414934e-02
cons.conf.idx                    4.895431e-02
age                              9.235801e-02
duration                         2.771815e-01
dtype: float64

In [322]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train1 = sc.fit_transform(X_train)  
X_test1 = sc.transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  """

In [323]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=2)  
y_train1=y_train
y_test1=y_test
X_train1 = lda.fit_transform(X_train1, y_train1)  
X_test1 = lda.transform(X_test1)

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [324]:
from sklearn.metrics import confusion_matrix  
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
np.random.seed(seed=10)

classifier = RandomForestClassifier(max_depth=2,n_jobs=-1, n_estimators=300,class_weight={0:7,1:9})
classifier.fit(X_train1, y_train1)  
y_pred1 = classifier.predict(X_test1) 
cm = confusion_matrix(y_test1, y_pred1) 
print(cm)  
print('Accuracy' + str(accuracy_score(y_test1, y_pred1)))

[[7598  376]
 [ 535  638]]
Accuracy0.9004045042090303

In [325]:
from sklearn.metrics import roc_curve, auc
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test1, y_pred1)
roc_auc = auc(false_positive_rate, true_positive_rate)
roc_auc

0.7483756351364441

In [344]:
from treeinterpreter import treeinterpreter as ti

prediction, bias, contributions = ti.predict(classifier,X_test1)
print ("Prediction", prediction)
print ("Bias (trainset prior)", bias)
print ("Feature contributions:")
for c, feature in zip(contributions[0], list1):
    print(feature, c)

Prediction [[0.98788851 0.01211149]
 [0.83461764 0.16538236]
 [0.57921243 0.42078757]
 ...
 [0.98788851 0.01211149]
 [0.98788851 0.01211149]
 [0.7742594  0.2257406 ]]
Bias (trainset prior) [[0.84385575 0.15614425]
 [0.84385575 0.15614425]
 [0.84385575 0.15614425]
 ...
 [0.84385575 0.15614425]
 [0.84385575 0.15614425]
 [0.84385575 0.15614425]]
Feature contributions:
age [ 0.14403276 -0.14403276]